<div class="col-md-12 top-pad">
    <nav class="nav-holder">
        <%= link_to "Virtual Office", buyer_profile_user_path(current_user.id) %>
        <%= link_to "Source Request", manage_received_quotations_user_path(current_user.id) %>
        <a href="#">Transcation</a>
        <%= link_to "Account", account_users_path %>

    </nav>
</div>

&nbsp;