
 <div class="row col-md-12">
                    <div class="row">
                        <%= render partial: 'users/buyers/navbar' %>
                         
                        <div class="col-lg-12">
    <!-- beginning of left panel-->
                    <div class="col-lg-2 no-pad">
                      <div class="row">
                          
                         
                         <div class="col-lg-12">
                             <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                    <%= image_tag "user-photo.png", class: "media-object" %>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><%= current_user.full_name %></h4>
                                    Free Membership
                                </div>
                                </div>
                             <h4>Recommendation Service</h4>
                             <ul class="first-level">
								<li class="holding">
                                    <a href="#">Easy Sourcing<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>    
								</li>
                                <li class="holding">
                                    <a href="#">Earth Moving Machinery<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>    
								</li>
                                <li class="holding">
                                    <a href="#">Exhibition<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>    
								</li>
                                <li class="holding">
                                    <a href="#">Premium Membership<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>    
								</li>
                             </ul>
                                &nbsp;
                             <ul class="first-level">
								<li class="holding">
                                    <a href="#">Product Alert<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>    
								</li>
                                <li class="holding">
                                    <a href="#">My Favourite<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>    
								</li>
                             </ul>
                         </div>

                       </div>
                        

                    </div>


    <!-- end of left panel, beginning of right panel--> 
                    <div class="col-lg-10 no-pad left-pad-2">
                        <div class='row'>
                            <div class="col-md-4">
                                <h4>Message</h4>
                                <ul class="list-group">
                                    <li class="list-group-item"> <span class="badge">14</span>New Messages in Inbox</li>
                                    <li class="list-group-item"> <span class="badge">14</span>Unread Messages in Spam</li>
                                    <li class="list-group-item"> <span class="badge">14</span>Recently Sent Messages</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h4>Sourcing Requests</h4>
                                <ul class="list-group">
                                    <li class="list-group-item"> <span class="badge">14</span>New Quotes</li>
                                    <li class="list-group-item"> <span class="badge">14</span>Quotes Awaiting Reply</li>
                                    <li class="list-group-item"> <span class="badge">14</span>Requests Awaiting Re-edit</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h4>Account</h4>
                                <ul class="list-group">
                                    <li class="list-group-item"> <span class="badge">14</span>Bonus Points</li>
                                    <li class="list-group-item"> <span class="badge">14</span>Profile Integrity</li>
                                    <li class="list-group-item"> <span class="badge">14</span>Uploaded Certificates</li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
    <!-- end of right panel-->
                        <div class="col-lg-12"> 
                        <div class="row top-pad ">
							<div class="col-lg-2"></div>
                            <div class="col-lg-9">
                               <div class="row pad">
                                        <div class="col-lg-11">
                                            <h5>This is not what you are looking for? <span class="red"><i class="fa fa-podcast" aria-hidden="true"></i>  Post Sourcing Request to Source now</span>
                                            </h5>
                                            <h5 class="n-pad"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> Trade Alert: delivering the latest product Trends &amp; Industry News straight to your inbox</h5>
                                        </div>
                                        <div  class="col-lg-1"></div>
                                        <div class="col-lg-8">
                                            <div class="input">
                                                <input type="text" class="form-control" placeholder="Your Email" aria-describedby="basic-addon2">
                                            </div>
                                        </div>

                                        <div class="col-lg-2 ">
                                            <button type="button" class="btn btn-block bg-red wyt b-red">Subscribe</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
					</div> 

                        </div>
                    </div>
                    </div>