<div class="col-md-2">
    <div class="page16-side-bar">
        <p class="text-center "><strong>Online to offline intergrated Solution Promotions</strong></p>
        <p>For more Information Please contact us:</p>
        <ul>
            <li><strong>US Based Suppliers</strong></li>
            <li>08022492116</li>
            <li>08022492117</li>
            <li>08022492118</li>
        </ul>
        <ul>
            <li><strong>Europe Based Suppliers</strong></li>
            <li>08022492119</li>
            <li>08022492120</li>
        </ul>
        <ul>
            <li><strong>Asia Based Suppliers</strong></li>
            <li>08022492121</li>
        </ul>
        <ul>
            <li><strong>Others</strong></li>                                
            <li>08022492122</li>
        </ul>
    </div>
</div>