<!--footer div-->
<div class="page15 footer short-footer pad">
    <div class="container">
        <div class="row">
            <div class="row borda-top">
                <div class="col-lg-6 pad">
                    <p class="pull-left pad">
                        <span>
                                            <button class="btn btn-default grey" type="submit" > <i class="fa fa-apple fa-lg pull-left" aria-hidden="true"></i> App store</button>
                                            <button class="btn btn-default green" type="submit" > <i class="fa fa-android fa-lg pull-left" aria-hidden="true"></i> Google Play</button> 
                                        </span
                                    </p>
                                    
                                </div>
                                <div class="col-lg-6 ">
                                    <p class="pull-right pad drop-down">TRADE MESSENGER: <span class="glyphicon glyphicon-search" aria-hidden="true"></span>                        follow us on:
                        <span>
                                            <i class="fa fa-facebook-square fa-2x fb"  aria-hidden="true"></i>
                                            <i class="fa fa-google-plus-square fa-2x gp" aria-hidden="true"></i>
                                            <i class="fa fa-twitter-square fa-2x tw" aria-hidden="true"></i>
                                            <i class="fa fa-linkedin-square fa-2x fb" aria-hidden="true"></i>
                                            
                                        </span>
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <nav class="nav-link pull-right">
                        <a href="#">Hot Product</a>
                        <a href="#">China Product</a>
                        <a href="#">Wholesale Products</a>
                        <a href="#">Offer Board</a>
                        <a href="#">hot offers</a>
                        <a href="#">Product index</a>
                        <a href="#">Focus technology: made-in-china.com</a>
                        <a href="#">ttnet.net</a>
                        <a href="#">tw.ttnet.net</a>
                    </nav>
                </div>
                <div class="col-md-2"></div>

            </div>
        </div>

    </div>
</div>